# Más info: https://docs.github.com/es/get-started/getting-started-with-git/ignoring-files

# Dependencias
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Nativo (firmas, certificados)
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Bundler Metro
.metro-health-check*

# Logs de depuración
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Variables de entorno locales
.env
.env.*
.env*.local

# TypeScript
*.tsbuildinfo

# Carpetas nativas generadas
/ios
/android
